# Firefox profile path for cookie extraction
# On Linux, this is typically ~/.mozilla/firefox/*.default/
# Find your profile at: about:profiles in Firefox
FIREFOX_PROFILE_PATH=/home/keith/snap/firefox/common/.mozilla/firefox/d4wnhmt4.default
